.product-image img{width: 100%;height: auto;}
.product-text{display: flex; flex-direction: column;}

.products{margin: 6rem 0;}
.splide-container{display: flex;justify-content: center;}


.product-card {
    width: 210px;
    height: 280px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
    overflow: hidden;
  }

  .featured-label {
    background-color: black;
    color: white;
    font-size: 12px;
    padding: 0.2rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  

  .product-image {
    position: relative;
  }
  
  .product-image img {
    width: 100%;
    height: auto;
  }
  
  .product-text {
    display: flex;
    flex-direction: column;
  }
  
  .quick-view {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0.5rem;
    box-sizing: border-box;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    z-index: 1;
    opacity: 0; /* Initially invisible */
    visibility: hidden; /* Initially hidden */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    height: 50px;
    cursor: pointer;
  }
  
  .product-card:hover .quick-view {
    transform: translateY(0%);
    opacity: 1; /* Fade in by changing opacity to 1 */
    visibility: visible; /* Make it visible */
  }
  
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  
  .modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 10;
    display: flex;
    gap:1rem;
    display: flex;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #333;
  }
  
.modal-image img{
    max-width: 80%; 
    height: auto;
}
.modal-text{
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.modal-title{
    font-size: 22px;
    font-weight: 700;
}
.modal-price{
    font-size: 22px;
    font-weight: 400;
}
.modal-SKU{
    font-size: 10px;
} 
.modal-colors{
    display: flex;
    flex-direction: column;
    gap:.5rem;
}
.modal-colors-options{
    display: flex;
}
.modal-colors-title{
    font-size: 12px;
}
.color-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 2px;
    cursor: pointer;
    transition: transform 0.2s ease;
    border: 1px solid black;
  }
  
.color-circle.clicked {
    transform: scale(1.2);
    z-index: 1;
}
.modal-sizes-options{
    display: flex;
    flex-direction: column;
    gap:.5rem;
}
.sizes-title{
    font-size: 12px;
}
.sizes-input select{
    padding: .5rem;
    font-size: 12px;
}
.close-modal-button{
    display: flex;
    align-items: center;
    gap:.3rem;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .product-card{width: 250px; height: 330px;}
}
  
@media (max-width: 800px) {
    .product-card{width: 300px; height: 400px;}
}
@media (max-width: 768px) {
    .modal-content{
        flex-direction: column;
    }
    .modal-image img{
        max-width: 100%; 
    }
}
@media (max-width: 640px) {
    .product-card{width: 350px; height: 450px;}
}
  
@media (max-width: 475px) {
    .products{margin: 1rem 0;}

}

